/* line 1, ../scss/_fhreset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----- Reset all CSS ----- */
/* line 6, ../scss/_fhreset.scss */
.redNote {
  padding: 5px;
  background-color: #990000;
  color: #FFFFFF;
  font-weight: bold;
}

/* ----- Reset all CSS ----- */
/* line 15, ../scss/_fhreset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

/* ----- floats ----- */
/* line 19, ../scss/_fhreset.scss */
.fltRight {
  float: right;
  margin: 0 0 0 15px;
}

/* line 24, ../scss/_fhreset.scss */
.fltLeft {
  float: left;
  margin: 0 15px 0 0;
}

/* line 29, ../scss/_fhreset.scss */
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

/* ----- form styles ----- */
/* line 37, ../scss/_fhreset.scss */
.grippie {
  display: none !important;
}

/* line 1, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

/* line 5, ../scss/_typography.scss */
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0.5em;
}

/* line 9, ../scss/_typography.scss */
h1 {
  font-size: 2.13em;
}

/* line 13, ../scss/_typography.scss */
h2 {
  font-size: 1.47em;
}

/* line 17, ../scss/_typography.scss */
h3 {
  font-size: 1.2em;
}

/* line 21, ../scss/_typography.scss */
h4 {
  font-size: 1em;
}

/* line 25, ../scss/_typography.scss */
h5 {
  font-size: 0.9em;
}

/* line 29, ../scss/_typography.scss */
h6 {
  font-size: 0.8em;
}

/* line 33, ../scss/_typography.scss */
p {
  line-height: 1.5em;
}

/* line 37, ../scss/_typography.scss */
* + p {
  margin-top: 1em;
}

/* line 41, ../scss/_typography.scss */
blockquote {
  margin: 1em;
  font-style: italic;
  font-size: 1.15em;
}

/* line 7, ../scss/core.scss */
body {
  background: #f7f7f7;
  font-family: sans-serif;
  color: #212121;
  font-size: 16px;
  border-top: 20px solid #006699;
}

/* line 15, ../scss/core.scss */
a {
  color: #006699;
  text-decoration: none;
}
/* line 18, ../scss/core.scss */
a:hover, a:focus {
  color: red;
}

/* line 23, ../scss/core.scss */
img {
  max-width: 100%;
  height: auto !important;
}

/* line 28, ../scss/core.scss */
.pageWrap {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 34, ../scss/core.scss */
header {
  margin: 2em 0;
}
/* line 36, ../scss/core.scss */
header .title {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: #006699;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
/* line 43, ../scss/core.scss */
header .content {
  -webkit-columns: 2;
  -moz-columns: 2;
  -ms-columns: 2;
  -o-columns: 2;
  columns: 2;
}
/* line 45, ../scss/core.scss */
header .content blockquote {
  color: #006699;
}

/* line 51, ../scss/core.scss */
main {
  padding: 0;
}
@media (max-width: 40em) {
  /* line 51, ../scss/core.scss */
  main {
    padding: 0;
  }
}
/* line 56, ../scss/core.scss */
main h2.included {
  background: #e7e7e7;
  padding: 0.5em 0;
  text-align: center;
  margin: 1em 0;
}

/* line 64, ../scss/core.scss */
.kitItem {
  float: left;
  width: 50%;
  padding: 1em;
}
/* line 68, ../scss/core.scss */
.kitItem h2 {
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: #006699;
  color: #fff;
  font-size: 1em;
}
/* line 75, ../scss/core.scss */
.kitItem p {
  font-size: 0.9em;
}
/* line 78, ../scss/core.scss */
.kitItem:nth-of-type(odd) {
  clear: both;
}
@media (max-width: 40em) {
  /* line 64, ../scss/core.scss */
  .kitItem {
    width: 100%;
  }
}

/* line 86, ../scss/core.scss */
.downloadPSD {
  clear: both;
  text-align: center;
  padding-top: 4em;
}
/* line 90, ../scss/core.scss */
.downloadPSD a {
  display: inline-block;
  border: 0;
  background: #52bccf;
  color: #fff;
  font-size: 2em;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  cursor: pointer;
}
/* line 99, ../scss/core.scss */
.downloadPSD a:hover {
  background: #333;
}
@media (max-width: 900px) {
  /* line 90, ../scss/core.scss */
  .downloadPSD a {
    display: block;
    font-size: 1.25em;
    padding: 0.33333em 0;
  }
}

/* line 110, ../scss/core.scss */
.mbProject {
  background: #006699;
  color: #0093de;
  padding: 0 0.5em;
  text-align: center;
  margin-top: 4em;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 118, ../scss/core.scss */
.mbProject a {
  color: #fff;
  display: inline-block;
  padding: 0.5em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 123, ../scss/core.scss */
.mbProject a:hover {
  padding: 1em 0.5em;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
