h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p {
	line-height: 1.5em;
}

* + p {
	margin-top: 1em;
}