h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
	margin-top: 0.5em;
}

h1 {
	font-size: 2.13em;
}

h2 {
	font-size: 1.47em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.8em;
}

p {
	line-height: 1.5em;
}

* + p {
	margin-top: 1em;
}

blockquote {
	margin: 1em;
	font-style: italic;
	font-size: 1.15em;
}