@import "compass/css3";

@import "fhreset";
@import "bits";
@import "typography";

body {
	background: $grey;
	font-family: sans-serif;
	color: #212121;
	font-size: 16px;
	border-top: 20px solid #006699;
}

a {
	color: #006699;
	text-decoration: none;
	&:hover, &:focus {
		color: red;
	}
}

img {
	max-width: 100%;
	height: auto !important;
}

.pageWrap {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	margin: $gap*2 0;
	.title {
		text-align:center;
		font-weight: bold;
		font-size: 3em;
		color: #006699;
		@include transform(rotate(-1deg));
	}
	.content {
		@include columns(2);
		blockquote {
			color: #006699;
		}
	}
}

main {
	padding: 0;
	@media (max-width: 40em) {
		padding: 0;
	}
	h2.included {
		background: #e7e7e7;
		padding: $gap/2 0;
		text-align: center;
		margin: $gap 0;
	}
}

.kitItem {
	float: left;
	width: 33%;
	padding: $gap;
	h2 {
		text-transform: uppercase;
		padding: $gap/2 $gap;
		background: #d9ab20;
		color: #fff;
		font-size: 1em;
	}
	p {
		font-size: 0.9em;
	}
	&:nth-of-type(4n){
		clear: both;
	}
	@media (max-width: 40em) {
		width: 100%;
	}
}

.downloadPSD {
	clear: both;
	text-align: center;
	padding-top: $gap*4;
	a {
		display: inline-block;
		border: 0;
		background: #52bccf;
		color: #fff;
		font-size: 2em;
		padding: $gap/2 $gap*3;
		border-radius: 0.5em;
		cursor: pointer;
		&:hover {
			background: #333;
		}
		@media (max-width: 900px) {
			display: block;
			font-size: 1.25em;
			padding: $gap/3 0;
		}
	}
}

.mbProject {
	background: #006699;
	color: #0093de;
	padding: 0 $gap/2;
	text-align: center;
	margin-top: $gap*4;
	font-size: 0.8em;
	text-transform: uppercase;
	a {
		color: #fff;
		display: inline-block;
		padding: $gap/2;
		@include transition(0.2s);
	&:hover {
		padding: $gap $gap/2;
		@include transform(rotate(-3deg));
	}
	}
}