@import "compass/css3";

@import "fhreset";
@import "bits";
@import "typography";

body {
	background: $grey;
	padding: 20px;
	font-family: sans-serif;
	color: #444;
}

/* --------------------------------------------- DOTI Grids -- */
[class*="grid-"] {
	float: left;
}

.grid-1-2 { width: 50%; }
.grid-1-3 { width: 33%; }
.grid-1-4 { width: 25%; }
.grid-2-3 { width: 66%; }
.grid-3-4 { width: 75%; }